body {
    background-image: url("images/OfficeBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 70px;
    background-color: #f5f5f5;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #333;
    padding: 10px 0;
    z-index: 1000;
}

nav a {
    margin: 0 10px;
    color: #4C7ABF;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    transition: color 0.3s;
    display: block;
}

@media (min-width: 768px) {
    nav a {
      display: inline;
      margin: 0 20px;
    }
}

nav a:hover {
    color: #2371B3;
}

main {
    margin: 0 auto;
    padding: 270px 20px 20px 20px;
    width: 90%;
    max-width: 800px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #4C7ABF;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #4C7ABF;
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #4C7ABF;
}

h4 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #4C7ABF;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    text-align: justify;
}

.section-link {
    text-decoration: none; /* Removes underline from link */
    color: inherit; /* Ensures the text color remains the same */
    display: block; /* Makes the entire area clickable */
}

.section-link:hover {
    cursor: pointer; /* Changes cursor to hand icon when hovering over the link */
}

#hero {
    padding-top: 70px;
    background-color: #E6EDF8;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

#benefits, #successStories, #callToAction {
    margin-bottom: 20px;
}

.benefit, .story {
    background-color: #E6EDF8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

#contactText {
    text-align: center;
}

.cta-button {
    background-color: #4C7ABF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #2371B3;
}

.showmore-button {
    background-color: #4C7ABF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.showmore-button {
    background-color: #2371B3;
}

footer {
    margin-top: 40px;
    font-size: 14px;
    color: #999999;
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    max-height: 250px; /* Adjust the max height as needed */
}

/*form styles */

#OperatingHours p {
    text-align: center;
}

#ContactDetails p {
    text-align: center;
}

form {
    display: flex;
    background-color: #E6EDF8;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  form .field {
    width: 80%;
    margin-bottom: 10px;
  }
  
  form input[type=text],
  form input[type=email],
  form textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #555;
  }
  
  form input[type=text]::placeholder,
  form input[type=email]::placeholder,
  form textarea::placeholder {
    color: #555;
  }
  
  form input[type=submit] {
    background-color: #4C7ABF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form input[type=submit]:hover {
    background-color: #2371B3;
  }

footer {
    margin-top: 40px;
    font-size: 14px;
    color: #999999;
}
  
.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    max-height: 250px; /* Adjust the max height as needed */
}

#personalMessage {
    background-color: #E6EDF8;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

#personalMessage h2 {
    font-size: 26px;
    color: #4C7ABF;
    margin-bottom: 20px;
}

#personalMessage p {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    text-align: justify;
}

#personalMessage p strong {
    font-size: 18px;
    color: #4C7ABF;
}

.service {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid silver;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;  /* Reduces the width of the service box to half */
    margin: 10px auto;  /* Centers the service box */
}

.service img {
    width: 40%;
    max-height: 160px;
    max-width: 200px;  /* Adjusts the max width of the image */
    border-radius: 20%;  /* Rounds the border of the image */
    padding: 30px;
}

.service-text {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.service-text h2 {
    color: #4C7ABF;
    font-size: 24px;
    margin-bottom: 10px;
}

.service-text p {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    text-align: justify;
}

.service.left {
    flex-direction: row;
    background-color: #E6EDF8;
}

.service.right {
    flex-direction: row-reverse;
    background-color: #E6EDF8;
}

.about {
    background-color: #E6EDF8;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.about h2 {
    margin: 10px 0;
    color: #4C7ABF;
    font-size: 24px;
}

.about p {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    text-align: justify;
}
